@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@100;400;700&family=Roboto:wght@100;400;700&family=Rosarivo&family=Taviraj:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	/* background: linear-gradient(to bottom, theme(colors.ocean-light), theme(colors.ocean-dark)); */
}

h1,
h2 {
	font-family: 'Open Sans', sans-serif;
	/* font-family: 'Rosarivo', cursive; */
	font-weight: 700;
}

/* logo and slogan fonts */
.slogan {
	font-family: 'Rosarivo', cursive;
	font-style: normal;
}

.logo {
	font-family: 'Abril Fatface', serif;
	font-weight: 400;
	font-style: normal;
}

/* show this font to client so they can decide between  'taviraj-semibold' vs 'abril-fatface-regular'*/
/* .taviraj-semibold {
	font-family: 'Taviraj', serif;
	font-weight: 600;
	font-style: normal;
} */
/* ------------------------------------------------------- */

/* ELEMENTS */
.button-tertiary {
	inline-size: 100%;
	border-radius: 16px;
	background-color: theme(colors.gray.900);
	padding-inline: 16px;
	padding-block: 12px;
	user-select: none;
	text-align: center;
	color: theme(colors.white);
}

.button-secondary {
	position: relative;
	z-index: -10;
	inline-size: 100%;
	border-radius: 16px;
	background-color: theme(colors.slate.700);
	padding-inline: 16px;
	padding-block: 12px;
	user-select: none;
	text-align: center;
	color: theme(colors.white);
}

/* ------------------------------------------------------- */
/* view transition API classes*/

/* 
::view-transition
├─ ::view-transition-group(root)
│ └─ ::view-transition-image-pair(root)
│     ├─ ::view-transition-old(root)
│     └─ ::view-transition-new(root)
└─ ::view-transition-group(figure-caption)
  └─ ::view-transition-image-pair(figure-caption)
      ├─ ::view-transition-old(figure-caption)
      └─ ::view-transition-new(figure-caption)
*/

.fix-viewAPI {
	view-transition-name: fix-viewAPI;
}

.fab-viewAPI {
	view-transition-name: fab-viewAPI;
}

.promotion-viewAPI {
	view-transition-name: promotion-viewAPI;
}

/* @keyframes slide-in {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
} */
/* ::view-transition-old(promotion-viewAPI),
::view-transition-new(promotion-viewAPI) {
	animation: slide-in 5s ease-out forwards;
} */

/* ::view-transition-old(promotion-viewAPI),
::view-transition-new(promotion-viewAPI) {
	opacity:0;
	// or whatever style
} */
